:root {
    --mainColor: #0282F9;
}



/* -----settings------- */
a {
    text-decoration: none;

}

ul,
li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}



/* -------main----------- */
.containerBlack {
    background-color: black;
    color: white;
    height: 20vh;
    text-align: start;
    padding: 50px;
    font-size: 1.7rem;
}

.BluContainer {
    background-color: var(--mainColor);
    color: white;
    height: 20vh;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.BluContainer img{
    height: 2rem ;
   padding-left: 3rem;

}

.BluContainer p{
    padding-left: 0.5rem; 
}


/*-------footer-------*/

footer {
    background-image: url(./assets/img/footer-bg.jpg);
    background-size: cover;
}

.logoFooter {
    background-image: url("./assets/img/dc-logo-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 2rem;
    padding-left: 5rem;
    display: flex;
    width: 95%;
}

.externalLink {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.externalLink,
a {
    color: lightgray;
}


.externalLink,
a,
.titleFooter {
    color: lightgray;

}

.backgroundFooter {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

.followUs,
.button {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.linkSocial {
    display: flex;
    justify-content: space-around;

    /* align-items: center; */
}
.linkSocial, a {
    justify-content: space-between;
}

.button{
    border: solid 2px;
    border-color: var(--mainColor);
    padding: 10px;
}

/* aggiusta footer con space-araoun o beetwen,
 sistema i div  nel follow us e btn */